$mt-triangle: -6px;

@mixin triangle($rotate: -135deg, $color: white) {
  &::before {
    @include transition;
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-bottom: 1px solid $color;
    border-left: 1px solid $color;
    transform: rotate($rotate);
  }

  @include desktop-middle {
    &::before {
      width: 10px;
      height: 10px;
    }
  }
}

@mixin triangle-after {
  &.open {
    @include after-clean {
      top: 47%;
      transform: rotate(45deg);
    }
  }

  @include after {
    @include transition;
    top: 36%;
    right: 18%;
    width: 12px;
    height: 12px;
    border: 1px solid $color-black;
    border-bottom: 0;
    border-right: 0;
    transform: rotate(-135deg);
  }

  // <1600px
  @include desktop-middle {
    @include after-clean {
      top: 41%;
      right: 18%;
      width: 9px;
      height: 9px;
    }
  }

  // <1440px
  @include desktop-small {
    @include after-clean {
      top: 36%;
      right: 19%;
      width: 8px;
      height: 8px;
    }
  }

  // <1200px
  @include tablet {
    @include after-clean {
      right: 13%;
      width: 5px;
      height: 5px;
    }
  }

  // <768px
  @include mobile {
    @include after-clean {
      top: 27%;
      right: 0;
      width: 10px;
      height: 10px;
    }
  }
}

@mixin photo-element {
  & {
    top: 0;
    left: 0;
    z-index: 10;
    width: 59%;
    height: 17%;
    background-color: white;
  }

  // <768px
  @include mobile {
    & {
      display: none;
    }
  }
}

@mixin after-text {
  span {
    position: relative;
    z-index: 10;
  }

  @include after {
    @include center-transform-horizon;
    @content;
    z-index: 1;
    font-size: 165px;
    line-height: 120%;
    font-family: $font-family-cormorant;
    color: #F1EDE1;
  }

  // <1600px
  @include desktop-middle {
    @include after-clean {
      font-size: 130px;
    }
  }

  // <1440px
  @include desktop-small {
    @include after-clean {
      font-size: 115px;
    }
  }

  // <1200px
  @include tablet {
    @include after-clean {
      font-size: 80px;
    }
  }

  // <768px
  @include mobile {
    @include after-clean {
      display: none;
    }
  }
}

@mixin video-button {
  @include active-opacity;
  @include center-transform;
  @include transition;
  @include reset-button;
  position: absolute;
  z-index: 1000;
  width: 0;
  height: 74px;
  border-width: 37px 0 37px 60px;
  border-style: solid;
  border-color: transparent transparent transparent white;
  outline: 0;
  cursor: pointer;
  opacity: 0;

  @include hover {
    opacity: 0.5;
  }

  @include active {
    opacity: 0.3;
  }

  &--paused {
    border-width: 0 0 0 60px;
    border-style: double;
  }
}



@mixin title-after ($content: '', $top: 0){
  position: relative;

  span {
    position: relative;
    z-index: 10;
  }

  @include after {
    content: $content;
    top: $top;
    left: 0;
    z-index: 1;
    font-size: 165px;
    line-height: 120%;
    font-family: $font-family-cormorant;
    color: #F1EDE1;
  }

  // <1600px
  @include desktop-middle {
    @include after-clean {
      font-size: 130px;
    }
  }

  // <1440px
  @include desktop-small {
    @include after-clean {
      font-size: 115px;
    }
  }

  // <1200px
  @include tablet {
    @include after-clean {
      font-size: 80px;
    }
  }

  // <768px
  @include mobile {
    @include after-clean {
      display: none;
    }
  }
}


