$mt-triangle: -6px;

@mixin triangle($rotate: -135deg, $color: white) {
  &::before {
    @include transition;
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-bottom: 1px solid $color;
    border-left: 1px solid $color;
    transform: rotate($rotate);
  }

  @include desktop-middle {
    &::before {
      width: 10px;
      height: 10px;
    }
  }
}

@mixin triangle-after {
  &.open {
    @include after-clean {
      top: 47%;
      transform: rotate(45deg);
    }
  }

  @include after {
    @include transition;
    top: 36%;
    right: 18%;
    width: 12px;
    height: 12px;
    border: 1px solid $color-black;
    border-bottom: 0;
    border-right: 0;
    transform: rotate(-135deg);
  }

  // <1600px
  @include desktop-middle {
    @include after-clean {
      top: 41%;
      right: 18%;
      width: 9px;
      height: 9px;
    }
  }

  // <1440px
  @include desktop-small {
    @include after-clean {
      top: 36%;
      right: 19%;
      width: 8px;
      height: 8px;
    }
  }

  // <1200px
  @include tablet {
    @include after-clean {
      right: 13%;
      width: 5px;
      height: 5px;
    }
  }

  // <768px
  @include mobile {
    @include after-clean {
      top: 27%;
      right: 0;
      width: 10px;
      height: 10px;
    }
  }
}


