.header {
  @include transition;
  position: relative;
  height: 100vh;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: $color-black-2;
  text-transform: uppercase;
  background-color: $color-black;
  background-image: url('../img/main/header/background.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  /* VIDEO OVERLAY */
  //@include before {
  //  top: 0;
  //  left: 0;
  //  z-index: 2;
  //  width: 100%;
  //  height: 100%;
  //  background-color: rgba(0, 0, 0, 0.3);
  //}

  @include after {
    @include transition;
    @include center-transform-horizon;
    bottom: 0;
    z-index: 100;
    width: 2px;
    height: 64px;
    max-height: 64px;
    background-color: $color-black-3;
  }

  &--active,
  &--hide {
    background-image: none;

    @include after-clean {
      max-height: 0;
      opacity: 0;
    }

    .header__video {
      opacity: 0;
    }

    .header__button {
      width: 24px;
      height: 24px;
      margin-top: -3px;

      @include before-after-hover {
        background-color: $color-gold;
      }

      @include before-after-clean {
        top: 50%;
        width: 100%;
        height: 2px;
        background-color: $color-gold;
      }

      @include before-clean {
        transform: rotate(45deg);
      }

      @include after-clean {
        transform: rotate(-45deg);
      }
    }

    .header__label {
      &--closed {
        position: static;
        width: auto;
        opacity: 1;
      }

      &--open {
        position: absolute;
        top: -250px;
        right: 0;
        width: 0;
        opacity: 0;
      }
    }

    .header__weather {
      position: absolute;
      top: -250px;
      opacity: 0;
    }

    .header__logo {
      opacity: 0;
    }

    .header__languages {
      position: absolute;
      top: -250px;
      opacity: 0;
    }

    .header__link {
      &--reservation {
        position: relative;
        left: -6px;
        padding: 0;
        color: $color-gold;
        background-color: transparent;

        @include before-hover {
          border-color: white;
        }

        @include before-clean {
          margin-top: 0;
          border-color: $color-gold;
        }
      }
    }

    .header__wrapper {
      width: 100%;
    }

    .header__wrapper,
    .header__navigation {
      max-width: 100%;
    }

    .header__navigation {
      @include padding-vertical(6%);
      @include center-margin;
      position: relative;
      z-index: 100;
      align-items: center;
      padding-left: 9.4%;

      @include before-after-clean {
        opacity: 1;
      }
    }

    .header__down {
      width: 0;
      height: 0;
      font-size: 0;
      opacity: 0;
    }

    .header__container {
      flex-direction: column;
      height: 100vh;
      padding-bottom: 2.5%;
    }

    .header__place {
      position: static;
      font-size: inherit;
      opacity: 1;
    }

    .header__item {
      position: static;
      width: 49%;
    }
  }

  &--hide {
    background-image: none;

    @include after-clean {
      max-height: 64px;
      opacity: 1;
    }

    .header__video {
      opacity: 1;
    }

    .header__button {
      width: 42px;
      height: 17px;
      margin-top: 0;

      @include before-after-clean {
        height: 1px;
        background-color: $color-black-2;
      }

      @include before {
        top: 0;
        width: 100%;
      }

      @include after-clean {
        bottom: 5px;
        width: 80%;
      }
    }

    .header__label {
      &--open {
        position: static;
        width: auto;
        opacity: 1;
      }

      &--closed {
        position: absolute;
        top: -250px;
        right: 0;
        width: 0;
        opacity: 0;
      }
    }

    .header__weather {
      position: static;
      opacity: 1;
    }

    .header__logo {
      opacity: 1;
    }

    .header__languages {
      position: static;
      opacity: 1;
    }

    .header__link {
      &--reservation {
        position: static;
        @include padding-horizon(27px, 21px);
        @include padding-vertical(20px);
        color: white;
        background-color: $color-gold;

        @include before-clean {
          border-color: white;
        }
      }
    }

    .header__navigation,
    .header__wrapper {
      max-width: 40%;
    }

    .header__down {
      width: 93px;
      height: 93px;
      font-size: 18px;
      opacity: 1;
    }

    .header__container {
      flex-direction: row;
      height: auto;
      padding-bottom: 0;
    }

    .header__navigation {
      @include padding-vertical(0);
      max-width: 40%;
      margin: 0;
      padding-left: 0;

      @include before-after-clean {
        opacity: 0;
      }
    }

    .header__place {
      position: absolute;
      top: -1000px;
      font-size: 0;
      opacity: 0;
    }

    .header__item {
      position: absolute;
      top: -1000px;
      width: 100%;

      &--reservation {
        position: static;
      }
    }
  }

  .header__item {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.header__video {
  @include transition;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.header__movie {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.header__container {
  @include flex;
  position: relative;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 115px;
  padding-top: 2.5%;
}

.header__wrapper {
  @include flex;
  align-items: center;
  min-height: 67px;
}

.header__link {
  @include focus-color($color-gold);

  &--reservation {
    @include focus-color(white);
  }
}

.header__button {
  @include focus-scale();
  @include transition;
  @include reset-button;
  position: relative;
  width: 42px;
  height: 17px;
  margin-right: 16px;

  @include before-after-hover {
    background-color: white;
  }

  @include before-after {
    @include transition;
    right: 0;
    height: 1px;
    background-color: $color-black-2;
  }

  @include before {
    top: 0;
    width: 100%;
  }

  @include after-clean {
    bottom: 5px;
    width: 80%;
  }
}

.header__navigation {
  @include flex;
  align-items: center;

  @include before-after {
    @include transition;
    @include center-transform-horizon;
    z-index: 10;
    width: 48%;
    height: 1px;
    background-color: white;
    opacity: 0;
  }

  @include before-clean {
    top: 0;
  }

  @include after-clean {
    bottom: 0;
  }
}

.header__image {
  @include object-fit(cover);
}

.header__logo {
  @include center-transform-horizon;
  @include transition;
  position: absolute;
  top: 0;
  z-index: 10;
  max-height: 224px;
}

.header__wrapper,
.header__navigation {
  max-width: 40%;
}

.header__label {
  @include flex;
  @include transition;
  @include reset-margin-text;
  align-items: center;
  margin-right: 69px;

  &--closed {
    position: absolute;
    top: -250px;
    width: 0;
    color: white;
    opacity: 0;
  }
}

.header__weather {
  @include transition;
  @include flex;
  align-items: center;
}

.header__temperature {
  @include reset-margin-text;
}

.header__weather-icon {
  display: inline-block;
  margin-right: 21px;
}

.header__down {
  @include center-transform-horizon;
  @include transition;
  @include flex;
  position: absolute;
  bottom: 42px;
  z-index: 100;
  justify-content: center;
  align-items: center;
  width: 93px;
  height: 93px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: $color-gray;
  background-color: white;
  border-radius: 50%;

  @include hover {
    bottom: 52px;
  }

  @include active {
    transform: translateX(-50%) scale($down-scale);
  }
}

.header__list {
  @include flex;
  @include reset-list;
  justify-content: stretch;
  text-align: left;
  color: white;
}

.header__item {
  @include transition;
  @include flex;
  position: absolute;
  top: -1000px;
  align-items: flex-start;

  &--reservation {
    position: static;
  }

  &:nth-of-type(even) {
    margin-bottom: 4.9%;
    padding-left: 14.6%;
  }
}

.header__languages {
  @include transition;
  @include flex;
  @include triangle(-45deg, $color-black-2);
  position: relative;
  justify-content: center;
  align-items: center;
  margin-right: 70px;
  margin-left: auto;

  @include hover {
    @include before-clean {
      margin-top: 0;
      border-color: $color-gold;
      transform: rotate(135deg);
    }

    .header__languages-content {
      font-size: inherit;
      opacity: 1;
    }
  }

  @include before-clean {
    margin-top: $mt-triangle;
  }
}

.header__languages-link {
  @include focus-color();
}

.header__languages-content {
  @include transition;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
  font-size: 0;
  opacity: 0;
}

.header__place {
  @include transition;
  @include flex;
  @include reset-margin-text;
  position: absolute;
  top: -1000px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 4%;
  font-size: 0;
  color: white;
  opacity: 0;
}

.header__languages-item {
  &--active {
    margin-left: 13px;
  }
}

.header__icon {
  display: inline-block;

  &--map {
    margin-top: -2px;
    margin-right: 10px;
    animation: pulsate 2s ease-out;
    animation-iteration-count: infinite;
    fill: $color-gold;
  }
}

@media (max-height: 860px) {
  .header__place {
    padding-bottom: 0;
  }
}


// <1600px
@include desktop-middle {
}

// <1440px
@include desktop-small {
}

// <1200px
@include tablet {
}

// <768px
@include mobile {
}
