.header {
  @include transition;
  position: relative;
  width: 100%;
  height: 100vh;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  font-family: $font-family-cormorant;
  text-align: center;
  color: $color-black-2;
  text-transform: uppercase;
  background-image: url('../img/main/header/background.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;


  /* VIDEO OVERLAY */
  //@include before {
  //  top: 0;
  //  left: 0;
  //  z-index: 2;
  //  width: 100%;
  //  height: 100%;
  //  background-color: rgba(0,0,0, 0.5);
  //}

  @include after {
    @include transition;
    @include center-transform-horizon;
    bottom: 0;
    z-index: 5;
    width: 2px;
    height: 64px;
    max-height: 64px;
    background-color: $color-black-3;
  }

  &--active,
  &--hide {
    background-color: $color-black;
    background-image: none;

    @include after-clean {
      max-height: 0;
      opacity: 0;
    }

    .header__box {
      height: 100vh;
      background-color: $color-black;
      background-image: url('../img/main/header/background_menu.png');
      background-position: center;
    }

    .header__video {
      opacity: 0;
    }

    .header__button {
      width: 24px;
      height: 24px;
      margin-top: -3px;

      @include before-after-clean {
        top: 50%;
        width: 100%;
        height: 2px;
        background-color: $color-gold;
      }

      @include before-clean {
        transform: rotate(45deg);
      }

      @include after-clean {
        transform: rotate(-45deg);
      }
    }

    .header__label {
      &--closed {
        position: static;
        width: auto;
        opacity: 1;
      }

      &--open {
        position: absolute;
        top: -250px;
        right: 0;
        width: 0;
        opacity: 0;
      }
    }

    .header__weather {
      position: absolute;
      top: -250px;
      opacity: 0;
    }

    .header__logo {
      top: -250px;
      opacity: 0;
    }

    .header__languages {
      position: absolute;
      top: -250px;
      opacity: 0;
    }

    .header__link {
      &--reservation {
        position: relative;
        left: -6px;
        padding: 0;
        color: $color-gold;
        background-color: transparent;

        @include before-hover {
          border-color: white;
        }

        @include before-clean {
          margin-top: 0;
          border-color: $color-gold;
        }
      }
    }

    .header__wrapper {
      width: 100%;
    }

    .header__wrapper,
    .header__navigation {
      max-width: 100%;
    }

    .header__navigation {
      @include padding-vertical(6%);
      @include center-margin;
      position: relative;
      z-index: 100;
      align-items: center;
      padding-left: 9.4%;

      @include before-after-clean {
        opacity: 1;
      }
    }

    .header__down {
      width: 0;
      height: 0;
      font-size: 0;
      opacity: 0;
    }

    .header__container {
      align-content: space-between;
      height: 100vh;
      padding-bottom: 1%;
    }

    .header__place {
      position: static;
      width: 100%;
      font-size: inherit;
      opacity: 1;
    }

    .header__item {
      position: static;
      width: 49%;
      font-size: inherit;
      transform: translateX(0);
    }
  }

  &--hide {
    @include after-clean {
      max-height: 64px;
      opacity: 1;
    }

    .header__box {
      min-height: 210px;
      overflow-x: hidden;
      background-color: transparent;
    }

    .header__video {
      opacity: 1;
    }

    .header__button {
      width: 42px;
      height: 17px;
      margin-top: 0;

      @include before-after-clean {
        height: 1px;
        background-color: $color-black-2;
      }

      @include before {
        top: 0;
        width: 100%;
      }

      @include after-clean {
        bottom: 5px;
        width: 80%;
      }
    }

    .header__label {
      &--open {
        position: static;
        width: auto;
        opacity: 1;
      }

      &--closed {
        position: absolute;
        top: -250px;
        right: 0;
        width: 0;
        opacity: 0;
      }
    }

    .header__weather {
      position: static;
      opacity: 1;
    }

    .header__logo {
      top: 0;
      opacity: 1;
    }

    .header__languages {
      position: static;
      opacity: 1;
    }

    .header__link {
      &--reservation {
        @include padding-horizon(27px, 21px);
        @include padding-vertical(20px);
        position: static;
        color: white;
        background-color: $color-gold;

        @include before-clean {
          border-color: white;
        }
      }
    }

    .header__navigation,
    .header__wrapper {
      max-width: 35%;
    }

    .header__down {
      width: 93px;
      height: 93px;
      font-size: 18px;
      opacity: 1;
    }

    .header__container {
      flex-direction: row;
      height: auto;
      padding-bottom: 0;
    }

    .header__navigation {
      @include padding-vertical(0);
      max-width: 35%;
      margin: 0;
      padding-left: 0;

      @include before-after-clean {
        opacity: 0;
      }
    }

    .header__place {
      position: absolute;
      top: -1000px;
      width: auto;
      font-size: 0;
      opacity: 0;
    }

    .header__item {
      @include center-transform-horizon;
      position: absolute;
      top: -1000px;
      font-size: 0;

      &--reservation {
        position: static;
        font-size: inherit;
        transform: translateX(0);
      }
    }
  }

  .header__item {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.header__box {
  @include transition;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  min-height: 135px;

  &--fixed {
    background-color: white;

    .header__logo {
      width: 14.5%;
    }
  }
}

.header__video {
  @include transition;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @include before {
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.2;
  }
}

.header__movie {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.header__container {
  @include transition;
  @include flex;
  position: relative;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 115px;
  padding-top: 1%;
}

.header__wrapper {
  @include flex;
  align-items: center;
  min-height: 98px;
}

.header__link {
  @include focus-color($color-gold);
  @include transition;

  &--reservation {
    @include focus-color(white);
    @include transition;
  }
}

.header__button {
  @include focus-scale();
  @include transition;
  @include reset-button;
  position: relative;
  width: 42px;
  height: 17px;
  margin-right: 16px;

  @include before-after-hover {
    background-color: $color-gold;
  }

  @include before-after {
    @include transition;
    right: 0;
    height: 1px;
    background-color: $color-black-2;
  }

  @include before {
    top: 0;
    width: 100%;
  }

  @include after-clean {
    bottom: 5px;
    width: 80%;
  }
}

.header__navigation {
  @include flex;
  align-items: center;

  @include before-after {
    @include transition;
    @include center-transform-horizon;
    z-index: 10;
    width: 48%;
    height: 1px;
    background-color: white;
    opacity: 0;
  }

  @include before-clean {
    top: 0;
  }

  @include after-clean {
    bottom: 0;
  }
}

.header__image {
  @include transition;
  @include object-fit(contain);
}

.header__logo {
  @include center-transform-horizon;
  @include transition;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 20%;
}

.header__wrapper,
.header__navigation {
  max-width: 35%;
}

.header__label {
  @include flex;
  @include transition;
  @include reset-margin-text;
  align-items: center;
  margin-right: 69px;

  &--closed {
    position: absolute;
    top: -250px;
    width: 0;
    color: white;
    opacity: 0;
  }
}

.header__weather {
  @include transition;
  @include flex;
  align-items: center;
}

.header__temperature {
  @include reset-margin-text;
}

.header__weather-icon {
  display: inline-block;
  margin-right: 21px;
}

.header__down {
  @include center-transform-horizon;
  @include transition;
  @include flex;
  position: absolute;
  bottom: 42px;
  z-index: 5;
  justify-content: center;
  align-items: center;
  width: 93px;
  height: 93px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: $color-gray;
  background-color: white;
  border-radius: 50%;

  @include hover {
    bottom: 52px;
  }

  @include active {
    transform: translateX(-50%) scale($down-scale);
  }
}

.header__list {
  @include transition;
  @include flex;
  @include reset-list;
  justify-content: stretch;
  text-align: left;
  color: white;
}

.header__item {
  @include center-transform-horizon;
  @include transition;
  @include flex;
  position: absolute;
  top: -1000px;
  align-items: flex-start;
  font-size: 0;

  &--reservation {
    position: static;
    font-size: inherit;
    transform: translateX(0);
  }

  &:nth-of-type(even) {
    margin-bottom: 4.9%;
    padding-left: 14.6%;
  }
}

.header__languages {
  @include transition;
  @include flex;
  @include triangle(-45deg, $color-black-2);
  position: relative;
  justify-content: center;
  align-items: center;
  margin-right: 70px;
  margin-left: auto;

  @include hover {
    @include before-clean {
      margin-top: 0;
      border-color: $color-gold;
      transform: rotate(135deg);
    }

    .header__languages-content {
      font-size: inherit;
      opacity: 1;
    }
  }

  @include before-clean {
    margin-top: $mt-triangle;
  }
}

.header__languages-link {
  @include focus-color($color-gold);
  cursor: pointer;
}

.header__languages-content {
  @include transition;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
  font-size: 0;
  opacity: 0;
}

.header__place {
  @include transition;
  @include flex;
  @include reset-margin-text;
  position: absolute;
  top: -1000px;
  justify-content: center;
  align-items: center;
  padding-bottom: 4%;
  font-size: 0;
  color: white;
  opacity: 0;
}

.header__languages-item {
  &--active {
    margin-left: 13px;
  }
}

.header__icon {
  display: inline-block;

  &--map {
    margin-top: -2px;
    margin-right: 10px;
    animation: pulsate 2s ease-out;
    animation-iteration-count: infinite;
    fill: $color-gold;
  }

  &--weather {
    width: 50px;
    height: 40px;
    margin-right: 20px;
  }
}

@media (max-height: 860px) {
  .header__place {
    padding-bottom: 0;
  }
}


// <1600px
@include desktop-middle {
  .header {
    font-size: 18px;
    line-height: 140%;

    @include after-clean {
      height: 52px;
    }

    &--active,
    &--hide {
      .header__container {
        padding-bottom: 3%;
      }
    }

    &--hide {
      .header__link {
        &--reservation {
          @include padding-vertical(15px);
          @include padding-horizon(22px, 16px);
        }
      }

      .header__down {
        width: 80px;
        height: 80px;
      }
    }
  }

  .header__box {
    min-height: 125px;

    &--fixed {
      .header__logo {
        width: 17%;
      }
    }
  }

  .header__button {
    width: 35px;
    height: 14px;
  }

  .header__label {
    margin-right: 50px;
  }

  .header__icon {
    &--weather {
      width: 40px;
      height: 32px;
      margin-right: 15px;
    }
  }

  .header__languages {
    margin-right: 55px;
  }

  .header__down {
    bottom: 35px;
    width: 80px;
    height: 80px;
    font-size: 15px;

    @include hover {
      bottom: 45px;
    }
  }

  .header__logo {
    width: 23%;
  }

  .header__wrapper {
    min-height: 104px;
  }
}

// <1440px
@include desktop-small {
  .header {
    font-size: 16px;

    @include after-clean {
      height: 45px;
    }

    &--active,
    &--hide {
      .header__container {
        padding-bottom: 0;
      }
    }

    &--hide {
      .header__container {
        padding-bottom: 0;
      }
    }
  }

  .header__box {
    min-height: 0;

    &--fixed {
      .header__logo {
        width: 14%;
      }
    }
  }

  .header__container {
    min-height: 0;
    padding-top: 0;
  }

  .header__button {
    width: 30px;
  }

  .header__label {
    margin-right: 40px;
  }

  .header__logo {
    width: 17%;
  }

  .header__icon {
    &--weather {
      width: 30px;
      height: 24px;
      margin-right: 10px;
    }
  }

  .header__languages {
    margin-right: 45px;
  }

  .header__down {
    bottom: 30px;
    width: 70px;
    height: 70px;
    font-size: 13px;

    @include hover {
      bottom: 40px;
    }
  }
}

// <1200px
@include tablet {
  .header {
    font-size: 14px;

    &--hide {
      .header__link {
        @include padding-vertical(10px);
        @include padding-horizon(16px, 10px);
      }
    }
  }

  .header__button {
    width: 25px;
  }

  .header__logo {
    width: 25%;
  }

  .header__label {
    margin-right: 30px;
  }

  .header__icon {
    &--weather {
      width: 25px;
      height: 20px;
      margin-right: 5px;
    }
  }

  .header__languages {
    margin-right: 35px;
  }

  .header__languages-item {
    &--active {
      margin-left: 8px;
    }
  }

  .header__box {
    &--fixed {
      .header__logo {
        width: 21%;
      }
    }
  }
}

// <768px
@include mobile {
  .header {
    max-height: 100%;
    font-size: 14px;

    &--active,
    &--hide {
      .header__container {
        flex-direction: row;
        padding-bottom: 80px;

        @media (max-height: 600px) {
          padding-bottom: 20px;
        }
      }

      .header__item {
        width: 100%;
        font-size: 18px;

        &--reservation {
          @media (max-height: 620px) {
            margin-bottom: 20px;
          }

          margin-bottom: 25px;
        }
      }

      .header__logo {
        position: absolute;
        top: -250px;
      }

      .header__navigation {
        padding: 30px 0;
      }

      .header__wrapper {
        margin-bottom: 0;
      }

      .header__place {
        margin-top: 20px;
      }
    }

    &--hide {
      .header__wrapper,
      .header__navigation {
        max-width: 100%;
      }

      .header__logo {
        position: static;
      }

      .header__wrapper {
        margin-bottom: 10px;
      }

      .header__item {
        &--reservation {
          margin-bottom: 0;
        }
      }

      .header__navigation {
        padding: 0;
      }
    }
  }

  .header__box {
    min-height: 160px;
    padding-bottom: 15px;
  }

  .header__place {
    @media (max-height: 600px) {
      margin-top: 0;
    }
  }

  .header__item {
    @media (max-height: 620px) {
      margin-bottom: 20px;
    }

    justify-content: center;
    margin-bottom: 25px;

    &--reservation {
      max-height: 40px;
      margin-bottom: 0;
    }

    &:nth-of-type(even) {
      @media (max-height: 620px) {
        margin-bottom: 20px;
      }

      margin-bottom: 25px;
      padding-left: 0;
    }
  }

  .header__wrapper {
    @include transition;
    justify-content: stretch;
    align-self: flex-start;
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .header__wrapper,
  .header__navigation {
    max-width: 100%;
  }

  .header__label {
    display: none;
  }

  .header__logo {
    position: static;
    flex-grow: 1;
    height: 85px;
    transform: translateX(0);
  }

  .header__container {
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-between;
    padding-top: 10px;
  }

  .header__button {
    width: 30px;
    height: 15px;
  }

  .header__icon {
    &--weather {
      width: 35px;
      height: 30px;
    }
  }

  .header__languages {
    margin-right: auto;
    margin-left: 0;
  }

  .header__link {
    &--reservation {
      font-size: inherit;
    }
  }

  .header__navigation {
    @include transition;
    margin-top: auto;
    margin-bottom: auto;
  }
}
