.line {
  @include flex;
  position: absolute;
  z-index: 10;
  width: 55px;
  height: 50%;
  padding-top: 40px;
  background-image: url('../img/svg/background-flower.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 40px;

  &--horizon {
    position: relative;
    justify-content: center;
    width: 97.2%;
    height: 40px;
    padding-top: 0;
    background-image: none;
  }
}

.line__background {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  transform: rotate(90deg);
  background-image: url('../img/svg/background-flower.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.line__wrapper {
  position: relative;
  width: 100%;
}

.line__image {
  @include center-transform-horizon;
  position: absolute;
  top: 7px;
  display: block;
  width: 10px;
  height: 100%;

  @include before {
    top: 0;
    left: 0;
    z-index: 10;
    width: 10px;
    height: 10px;
    background-color: $color-gold;
    transform: rotate(45deg);
  }

  @include after {
    @include center-transform-horizon;
    bottom: 0;
    z-index: 10;
    width: 1px;
    height: 95%;
    background-color: $color-gold;
  }

  &--horizon {
    display: block;
    width: 100%;

    @include before-clean {
      top: 50%;
      right: 50px;
      left: auto;
      transform: translateY(-50%) rotate(45deg);
    }

    @include after-clean {
      bottom: auto;
      top: 50%;
      left: 0;
      width: 95%;
      height: 1px;
      transform: translate(0, -50%);
    }
  }
}

// <1600px
@include desktop-middle {
  .line {
    background-size: 30px;

    &:not(.line--horizon) {
      width: 40px;
      padding-top: 30px;
    }

    &--horizon {
      height: 30px;
    }
  }

  .line__background {
    width: 30px;
  }

  .line__image {
    top: 6px;

    &:not(.line__image--horizon) {
      width: 8px;

      @include after-clean {
        height: 100%;
      }
    }

    @include before-clean {
      width: 8px;
      height: 8px;
    }

    &--horizon {
      @include before-clean {
        right: 35px;
      }
    }
  }
}

// <1440px
@include desktop-small {
  .line {
    background-size: 25px;

    &:not(.line--horizon) {
      width: 35px;
      padding-top: 25px;
    }

    &--horizon {
      height: 25px;
    }
  }

  .line__background {
    width: 25px;
  }

  .line__image {
    &:not(.line__image--horizon) {
      width: 7px;

      @include after-clean {
        height: 100%;
      }
    }

    @include before-clean {
      width: 7px;
      height: 7px;
    }
  }
}

// <1200px
@include tablet {
  .line {
    background-size: 20px;

    &:not(.line--horizon) {
      width: 25px;
      padding-top: 20px;
    }
  }

  .line__image {
    top: 4px;

    &:not(.line__image--horizon) {
      width: 5px;

      @include before-clean {
        width: 5px;
        height: 5px;
      }

      @include after-clean {
        height: 100%;
      }
    }

    &--horizon {
      @include after-clean {
        width: 82%;
      }
    }
  }
}

// <768px
@include mobile {
  .line {
    &:not(.line--horizon) {
      display: none;
    }
  }

  .line__image {
    &--horizon {
      @include after-clean {
        width: 87%;
      }
    }
  }
}

