.link {
  @include triangle();
  @include transition;
  @include padding-vertical(20px);
  @include padding-horizon(27px, 21px);
  display: flex;
  align-items: center;
  color: white;
  background-color: $color-gold;

  @include hover {
    color: $color-gold;
    background-color: $color-black-2;

    @include before-clean {
      border-color: $color-gold;
      transform: rotate(45deg);
    }
  }

  @include active-scale();

  @include before-clean {
    margin-top: -6px;
  }
}

.link__text {
  display: inline-block;
  margin-left: 12px;
}
