.navigation {
  @include flex;
  @include reset-list;
}

.navigation__item {
  &--active {
    position: relative;
    margin-right: 17px;
    padding-right: 23px;
    color: $color-gold;

    @include before {
      top: 50%;
      right: 0;
      width: 8px;
      height: 8px;
      border: 1px solid $color-gold;
      border-top: 0;
      border-left: 0;
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}

.navigation__link {
  cursor: default;

  &--active {
    @include focus-opacity;
    cursor: pointer;
  }
}

// <768px
@include mobile {
  .navigation {
    position: relative;
    z-index: 10;
  }
}

