.pagination {
  @include flex;
  justify-content: center;
  width: 100%;
}

.pagination__list {
  @include flex;
  @include reset-list;
  align-items: center;
}

.pagination__item {
  position: relative;
  width: 8px;
  height: 8px;
  margin-right: 20px;

  @include before {
    @include transition;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: $color-gold;
    transform: rotate(45deg);
  }

  @include after {
    @include transition;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &--active {
    width: 35px;
    height: 35px;

    @include before-clean {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    @include after-clean {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid $color-gold;
      transform: rotate(-45deg);
    }
  }
}

// <1600px
@include desktop-middle {
  .pagination__item {
    width: 6px;
    height: 6px;
    margin-right: 15px;

    @include before-clean {
      width: 6px;
      height: 6px;
    }

    &--active {
      width: 27px;
      height: 27px;
    }
  }
}

// <1200px
@include tablet {
  .pagination__item {
    width: 5px;
    height: 5px;
    margin-right: 12px;

    @include before-clean {
      width: 5px;
      height: 5px;
    }

    &--active {
      width: 20px;
      height: 20px;
    }
  }
}
