.architecture__container {
  @include padding-horizon(13.5%);
  @include center-margin;
  position: relative;
  width: 84.6%;
  padding-top: 5%;
  padding-bottom: 4.7%;
  background-color: white;

  @include after-text;

  @include after-clean {
    content: 'Концепт';
    top: 5%;
  }
}

.architecture__description {
  @include reset-margin-text;
}

.architecture__description,
.architecture__title {
  text-align: center;
}

.architecture__title {
  position: relative;
  z-index: 10;
  margin-bottom: 4%;
}

.architecture__line {
  margin-bottom: 2.3%;
}


// <768px
@include mobile {
  .architecture__container {
    @include padding-mobile;
    width: 100%;
  }
}
