.booking__title {
  margin-bottom: 2.5%;
  text-align: center;
}

.booking__wrapper {
  @include flex;
  @include padding-horizon(5%);
}

.booking__description {
  @include reset-margin-text;
  margin-bottom: 4.6%;
  line-height: 156%;
  text-align: center;
}
