.details {
  padding-top: 5.42%;
  padding-bottom: 9%;

  &--building {
    padding: 0;
  }
}

.details__container {
  position: relative;
  z-index: 10;
}

.details__wrapper {
  @include flex;
  position: relative;
  z-index: 10;
  justify-content: space-between;
}

.details__picture {
  position: relative;
  width: 38.9%;
  max-height: 861px;

  @include before {
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.details__image {
  @include object-fit(cover);
}

.details__inner {
  width: 53.3%;
  padding-top: 8.7%;
  padding-right: 13.8%;
}

.details__title {
  position: relative;
  margin-bottom: 8%;

  @include after-text;

  &--acquaintance {
    @include after-clean {
      content: 'Про нас';
      top: -117%;
      left: -2%;
      transform: translate(0);
    }
  }

  &--building {
    @include after-clean {
      content: 'Конструктив';
      top: -117%;
      left: -2%;
      transform: translate(0);
    }
  }

  span {
    position: relative;
    z-index: 10;
  }
}

.details__description {
  @include reset-margin-text;
  margin-bottom: 1.2%;

  &:last-of-type:not(.details__description--acquaintance) {
    margin-bottom: 0;
  }

  &--acquaintance {
    margin-bottom: 10%;
  }
}

.details__box {
  @include flex;
  position: relative;
  z-index: 5;
  justify-content: space-between;
  width: 100%;
  margin-top: -6.5%;
  background-color: white;
}

.details__photo {
  position: relative;
  width: 57%;
  height: 738px;
  margin-left: auto;

  &--acquaintance {
    @include before {
      @include photo-element;
    }
  }
}

.details__photo-box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

  @include before {
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.details__square-link {
  position: absolute;
  top: 24.5%;
  left: -134px;
  z-index: 100;
}

.details__photo-item {
  @include object-fit(cover);
}


// <1600px
@include desktop-middle {
  .details__picture {
    height: 690px;
  }

  .details__photo {
    height: 551px;
  }

  .details__square-link {
    left: -110px;
  }
}

.details__price-box {
  @include padding-horizon(15px);
  position: absolute;
  bottom: 2.5%;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.details__price-container {
  @include flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
}

.details__price {
  @include focus-scale();
  @include margin-horizon(3.5%);
  display: inline-block;
  font-size: 18px;
  line-height: 100%;
  color: $color-gold;
  text-transform: uppercase;
}

.details__price-icon {
  position: relative;
  flex-grow: 1;
  height: 10px;

  @include before-after {
    background-color: $color-gold;
  }

  @include before-clean {
    @include center-transform-vertical;
    width: 97.5%;
    height: 1px;
  }

  @include after-clean {
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
  }

  &--left {
    @include before-clean {
      left: 0;
    }

    @include after-clean {
      right: 0;
    }
  }

  &--right {
    @include before-clean {
      right: 0;
    }

    @include after-clean {
      left: 0;
    }
  }
}

.details__line {
  position: absolute;
  top: 15%;
  left: 42%;
  height: 79%;
}

.details__photo-element {
  @include photo-element;
  position: absolute;
}

.details__additionally {
  @include flex-column;
  justify-content: flex-end;
  width: 33%;
  padding-bottom: 4.8%;
  padding-left: 2%;
}

.details__additionally-description {
  @include reset-margin-text;
}

// <1600px
@include desktop-middle {
  .details__price {
    font-size: 14px;
  }

  .details__price-icon {
    height: 8px;

    @include before-clean {
      width: 95%;
    }

    @include after-clean {
      width: 8px;
      height: 8px;
    }
  }
}

// <1440px
@include desktop-small {
  .details__photo {
    height: 458px;
  }

  .details__square-link {
    left: -90px;
  }

  .details__picture {
    height: 531px;
  }

  .details__box {
    margin-top: -55px;
  }

  .details__price {
    font-size: 12px;
  }

  .details__price-icon {
    height: 7px;

    @include after-clean {
      width: 7px;
      height: 7px;
    }
  }
}

// <1200px
@include tablet {
  .details__picture {
    height: 336px;
  }

  .details__inner {
    padding-top: 0;
    padding-right: 0;
  }

  .details__photo {
    height: 291px;

    @include before-clean {
      height: 15%;
    }
  }

  .details__square-link {
    left: -70px;
  }

  .details__box {
    margin-top: -40px;
  }

  .details__price {
    font-size: 10px;
  }

  .details__price-icon {
    height: 5px;

    @include after-clean {
      width: 5px;
      height: 5px;
    }
  }

  .details__additionally {
    width: 30%;
  }

  .details__line {
    top: 0;
  }
}

// <768px
@include mobile {
  .details__picture {
    width: 100%;
    height: 328px;
    margin-bottom: 25px;
  }

  .details__inner {
    @include flex;
    width: 100%;
  }

  .details__title {
    margin-bottom: 15px;

    @include after-clean {
      top: -50%;
      font-size: 51px;
    }
  }

  .details__description {
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 25px;
    }
  }

  .details__box {
    margin-top: 0;
  }

  .details__wrapper {
    margin-bottom: 25px;
  }

  .details__photo {
    @include flex;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  .details__photo-box {
    position: static;
    height: 187px;
    margin-bottom: 50px;
  }

  .details__button {
    @include center-margin;
  }

  .details__price {
    font-size: 12px;
  }

  .details__price-box {
    position: static;
  }

  .details__additionally {
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
  }
}

