.main {
  position: relative;
  z-index: 1;
  margin-bottom: 6.5%;

  &--pages {
    padding-top: 239px;
  }

  &--promotions {
    margin-bottom: 6.9%;
  }

  &--price {
    margin-bottom: 0;
  }
}

.main__details {
  position: relative;
  margin-bottom: 3.7%;

  &--building {
    position: relative;
    z-index: 10000;
    margin-bottom: 0;
  }
}

.main__architecture {
  position: relative;
  z-index: 100;
  margin-top: -260px;

  &--default {
    margin-bottom: 5%;
  }
}

.main__room {
  margin-bottom: 10.5%;
}

.main__promo {
  margin-bottom: 7%;
}

.main__news {
  margin-bottom: 6.7%;
}

.main__pages {
  @include flex;
  justify-content: space-between;
  width: 48.5%;
  margin-top: -4.5%;
  margin-left: auto;
  padding-right: 3.1%;
}

.main__gallery {
  margin-bottom: 7.2%;
}

.main__price {
  &--default {
    margin-bottom: 2%;
  }
}

.main__default-news {
  margin-bottom: 6%;
}

// <1600px
@include desktop-middle {
  .main {
    &--pages {
      padding-top: 200px;
    }
  }

  .main__architecture {
    margin-top: -200px;
  }
}

// <1440px
@include desktop-small {
  .main {
    &--pages {
      padding-top: 175px;
    }
  }

  .main__architecture {
    margin-top: -150px;
  }
}

// <1200px
@include tablet {
  .main {
    &--pages {
      padding-top: 140px;
    }
  }

  .main__architecture {
    margin-top: -130px;
  }
}

// <768px
@include mobile {
  .main {
    &--pages {
      padding-top: 90px;
    }

    &--gallery {
      .submission {
        padding-top: 0;
      }
    }

    &--price {
      margin-bottom: 15px;
    }
  }

  .main__architecture {
    margin-top: 0;
  }

  .main__booking {
    margin-bottom: 5px;
  }

  .main__pages {
    width: 100%;
    margin-top: 0;
    padding: 0;
  }

  .main__gallery {
    margin-bottom: 0;
  }

  .main__default-news {
    margin-bottom: 30px;
  }
}

