.main {
  position: relative;
  z-index: 1;
}

.main__details {
  position: relative;
  margin-bottom: 3.7%;
}

.main__architecture {
  position: relative;
  top: -260px;
  z-index: 10;
}

// <1600px
@include desktop-middle {
  .main__architecture {
    top: -200px;
  }
}

// <1440px
@include desktop-small {
  .main__architecture {
    top: -150px;
  }
}

// <1200px
@include tablet {
  .main__architecture {
    top: -130px;
  }
}

// <768px
@include mobile {
  .main__architecture {
    top: 0;
  }
}

