.main {
  position: relative;
  z-index: 1;
  margin-bottom: 6.5%;
}

.main__details {
  position: relative;
  margin-bottom: 3.7%;

  &--building {
    margin-bottom: 0;
  }
}

.main__architecture {
  position: relative;
  z-index: 10;
  margin-top: -260px;
}

.main__room {
  margin-bottom: 10.5%;
}

.main__promo {
  margin-bottom: 7%;
}

// <1600px
@include desktop-middle {
  .main__architecture {
    margin-top: -200px;
  }
}

// <1440px
@include desktop-small {
  .main__architecture {
    margin-top: -150px;
  }
}

// <1200px
@include tablet {
  .main__architecture {
    margin-top: -130px;
  }
}

// <768px
@include mobile {
  .main__architecture {
    margin-top: 0;
  }

  .main__booking {
    margin-bottom: 5px;
  }
}

