.offer {
  @include flex;
  @include reset-list;
  justify-content: space-between;
  align-items: flex-start;
}

.offer__item {
  @include flex;
  position: relative;
  justify-content: flex-end;
  align-items: flex-end;
  width: 47%;
  height: 595px;
  padding-bottom: 1.5%;
  overflow: hidden;
}

.offer__picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @include before {
    @include transition;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.2;
  }
}

.offer__image {
  @include object-fit(cover);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.offer__inner {
  @include flex;
  justify-content: space-between;
  width: 97%;
  background-color: white;
}

.offer__time {
  @include reset-margin-text;
  position: relative;
  display: block;
  width: 10%;
  padding-bottom: 2%;
  padding-left: 3%;
  font-size: 12px;
  line-height: 170%;

  @include before {
    @include center-transform-vertical;
    right: 0;
    width: 1px;
    height: 80%;
    background-color: $color-black;
  }
}

.offer__date {
  display: block;
  font-size: 50px;
  line-height: 100%;
  font-family: $font-family-cormorant;
  color: $color-gold;
}

.offer__description {
  @include flex;
  @include reset-margin-text;
  align-items: center;
  width: 82.4%;
  font-size: 36px;
  line-height: 44px;
  font-family: $font-family-cormorant;
  color: $color-black-4;
}

.offer__inner,
.offer__description {
  position: relative;
  z-index: 10;
}

// <1750px
@media (max-width: 1750px) {
  .offer__item {
    height: 544px;
  }
}

// <1600px
@include desktop-middle {
  .offer__item {
    height: 445px;
  }

  .offer__date {
    font-size: 40px;
  }

  .offer__time {
    font-size: 10px;
  }

  .offer__description {
    font-size: 27px;
    line-height: 120%;
  }
}

// <1440px
@include desktop-small {
  .offer__item {
    height: 368px;
  }

  .offer__date {
    font-size: 35px;
  }

  .offer__time {
    font-size: 9px;
  }

  .offer__description {
    font-size: 23px;
  }
}

// <1200px
@include tablet {
  .offer__item {
    height: 239px;
  }

  .offer__date {
    font-size: 25px;
  }

  .offer__time {
    width: 18%;
    font-size: 8px;
  }

  .offer__description {
    width: 76%;
    font-size: 16px;
  }
}

// <768px
@include mobile {
  .offer {
    margin-bottom: 15px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .offer__item {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 209px;
    margin-bottom: 15px;
    padding-bottom: 0;

    &:last-of-type {
      margin-bottom: 0;
    }

    &--news {
      align-items: flex-end;
      padding-bottom: 10px;
    }
  }

  .offer__inner {
    width: 96%;
  }

  .offer__time {
    width: auto;
    min-width: 20%;
    max-width: 24%;
  }

  .offer__description {
    flex-grow: 1;
    width: auto;
    max-width: 75%;
    padding-left: 10px;
    font-size: 14px;
  }
}

