.price__wrapper {
  @include padding-horizon(14.5%);
  @include center-margin;
  width: 84.5%;
  margin-top: -13.4%;
  margin-bottom: 1.5%;
  padding-top: 5.5%;
  padding-bottom: 2.3%;
  text-align: center;
  background-color: white;
}

.price__title {
  margin-bottom: 4%;

  @include title-after('Прайс', -120%);

  @include after-clean {
    @include center-transform-horizon;
  }

  &--table {
    @include after-clean {
      display: none;
    }
  }
}

.price__subtitle {
  @include reset-margin-text;
  margin-bottom: 4.2%;
  font-size: 36px;
  line-height: 44px;
  font-family: $font-family-cormorant;
  color: $color-black-4;
}

.price__subtitle-text {
  color: $color-gold;
}

.price__line {
  width: 100%;
  margin-bottom: 1.6%;
}

.price__line-image {
  @include after-clean {
    width: 95%;
  }
}

.price__description {
  @include reset-margin-text;
}

.price__description-link {
  @include focus-opacity;
  color: $color-gold;
}

.price__navigation-list {
  @include container($desktop-width);
  @include center-margin;
  margin-bottom: 2.4%;
}

.price__box {
  background-color: $color-beige;
}

// <768px
@include mobile {
  .price__wrapper {
    @include padding-mobile;
    @include padding-vertical(20px);
    width: 100%;
    margin-top: -100px;
    margin-bottom: 10px;
  }

  .price__line {
    width: 100%;
    margin-bottom: 20px;
  }

  .price__title {
    margin-bottom: 5px;
  }
}
