.promo__container {
  padding-right: 5.3%;
}

.promo__wrapper {
  position: relative;
  padding-bottom: 1.7%;
}

.promo__list {
  @include reset-list;
}

.promo__item {
  &.swiper-slide-active {
    z-index: 1000 !important;
  }
}

.promo__inner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

.promo__title {
  position: relative;
  width: 50%;
  margin-bottom: 1.6%;
  padding-top: 0.6%;

  @include after-text;

  @include after-clean {
    content: 'Знижки';
    top: -94%;
    left: 0;
    z-index: 0;
    transform: translate(0);
  }

  span {
    position: relative;
    z-index: 10;
  }
}

.promo__line {
  width: 34.5%;
  margin-bottom: 37.2%;
}

.promo__line-image {
  @include after-clean {
    width: 91%;
  }
}

.promo__box {
  @include flex;
  position: relative;
  z-index: 2000;
  justify-content: space-between;
  align-items: center;
  width: 46.6%;
  margin-top: -7%;
  margin-left: auto;
  padding-right: 2%;
}

.promo__photo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.promo__photo-item {
  cursor: pointer;
  pointer-events: auto !important;

  &--video {
    align-self: flex-end;
  }
}

// <1200px
@include tablet {
  .promo__button {
    &--characteristics {
      min-width: 170px;
    }
  }
}

// <768px
@include mobile {
  .promo__title {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;

    @include after-clean {
      top: -40px;
    }
  }

  .promo__photo-item {
    margin-bottom: 0;
  }

  .promo__inner {
    position: relative;
    z-index: 1000;
    margin-bottom: 20px;
  }

  .promo__photo-wrapper {
    position: static;
  }

  .promo__line {
    width: 100%;
    margin-bottom: 20px;
  }

  .promo__wrapper {
    @include flex;
    justify-content: center;
  }

  .promo__box {
    flex-direction: column;
    align-items: center;
    order: 5;
    width: 100%;
    padding-right: 0;
  }

  .promo__button-box {
    margin-bottom: 15px;
  }

  .promo__photo-list {
    flex-wrap: nowrap;
  }

  .promo__pagination {
    bottom: 15px;

    .pagination__item {
      @include hover {
        @include before-clean {
          background-color: $color-gold;
        }

        @include after-clean {
          border-color: $color-gold;
        }
      }


      @include before-clean {
        background-color: $color-gold;
      }

      @include after-clean {
        border-color: $color-gold;
      }
    }
  }
}

