.room__wrapper {
  @include flex;
}

.room__characteristics {
  width: 32.5%;
  padding-top: 17%;
  padding-right: 10%;
  padding-left: 3%;
  color: white;
  background-color: $color-black;
  background-image: url('../img/main/room/background.png');
  background-repeat: no-repeat;
  background-position: right 17px top 124%;
  background-size: 100%;
}

.room__description,
.room__subtitle {
  @include reset-margin-text;
}

.room__list {
  @include reset-list;
  margin-bottom: 33%;
  padding-right: 30%;
}

.room__item {
  margin-bottom: 26%;
  padding-left: 33%;
  background-repeat: no-repeat;
  background-position: 6% 0;
  background-size: 36px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &--area {
    background-image: url('../img/svg/room/area.svg');
  }

  &--rooms {
    background-image: url('../img/svg/room/rooms.svg');
  }

  &--guests {
    background-image: url('../img/svg/room/guests.svg');
  }
}

.room__description {
  margin-bottom: 8%;
  color: $color-gold;
  text-transform: uppercase;
}

.room__subtitle {
  margin-bottom: 24.5%;
  font-size: 36px;
  line-height: 44px;
  font-family: $font-family-cormorant;
}

.room__container {
  width: 67.5%;
  padding-top: 5.7%;
}

.room__title {
  margin-bottom: 10.3%;
  padding-left: 9%;
}

.room__box {
  width: 107.1%;
  margin-bottom: 4%;
  margin-left: -7%;
}

.room__gallery {
  @include reset-list;
}

.room__gallery-item {
  @include flex;
  align-items: flex-start;

  &.swiper-slide-active {
    z-index: 10000;
  }
}

.room__gallery-item,
.room__thumb-list,
.room__photos {
  height: 738px;
}

.room__button-wrapper {
  @include flex;
  justify-content: space-between;
  padding-left: 3%;
}

.room__button {
  &--gallery {
    margin-top: 0.8%;
  }
}

.room__photos,
.room__thumbs {
  margin: 0;
}

.room__photo-list,
.room__thumb-list {
  @include reset-list;
}

.room__photo,
.room__thumb {
  position: relative;

  @include before {
    @include transition;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.2;
  }
}

.room__photos {
  width: 81.2%;
}

.room__thumbs {
  width: 18.36%;
  margin-left: auto;
}

.room__image {
  @include object-fit(cover);
}

.thumbs__list {
  overflow: hidden;
}

.room__thumb {
  cursor: pointer;
  pointer-events: auto !important;

  &.swiper-slide-thumb-active {
    position: relative;

    @include before-clean {
      @include transition;
      background-color: $color-gold;
      box-shadow: inset 0 0 20px 20px #6F5726;
      opacity: 0.5;
    }
  }
}

// <1600px
@include desktop-middle {
  .room__gallery-item,
  .room__thumb-list,
  .room__photos {
    height: 552px;
  }

  .room__subtitle {
    font-size: 27px;
    line-height: 140%;
  }

  .room__item {
    background-size: 26px;
  }

  .room__title {
    margin-bottom: 11.6%;
  }
}

// <1440px
@include desktop-small {
  .room__gallery-item,
  .room__thumb-list,
  .room__photos {
    height: 458px;
  }

  .room__subtitle {
    font-size: 22px;
  }

  .room__item {
    background-size: 24px;
  }

  .room__title {
    margin-bottom: 13%;
  }
}

// <1200px
@include tablet {
  .room__gallery-item,
  .room__thumb-list,
  .room__photos {
    height: 289px;
  }

  .room__subtitle {
    font-size: 17px;
  }

  .room__item {
    background-size: 20px;
  }

  .room__characteristics {
    padding-right: 6%;
  }

  .room__button {
    &--characteristics {
      min-width: 160px;
      max-width: 180px;
    }
  }

  .room__text {
    padding: 5px;
    padding-top: 8px;
  }

  .room__button-wrapper {
    align-items: flex-start;
  }
}

// <768px
@include mobile {
  .room__characteristics {
    @include flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
    padding: 25px 10px;
  }

  .room__subtitle {
    width: 100%;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
  }

  .room__description {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }

  .room__item {
    margin-bottom: 30px;
    padding-left: 50px;
    background-size: 24px;
  }

  .room__list {
    width: 100%;
    margin-bottom: 45px;
    padding-right: 0;
  }

  .room__button {
    min-width: 245px;
  }

  .room__container {
    width: 100%;
    padding: 0;
  }

  .room__title {
    margin-bottom: 30px;
  }

  .room__box {
    width: 100%;
    margin: 0 0 25px;
  }

  .room__photos,
  .room__thumbs {
    position: static;
    width: 100%;
  }

  .room__gallery-item {
    height: auto;
  }

  .room__photos {
    position: relative;
    height: 187px;
    margin-bottom: 6px;
  }

  .room__thumb-list {
    height: 60px;
  }

  .room__button-box {
    margin-bottom: 20px;
  }

  .room__button-wrapper {
    justify-content: center;
    padding: 0;
  }
}
