// Colors
$color-gray: #979797;
$color-black: #576470;
$color-black-2: #27292A;
$color-black-3: #141414;
$color-gold: #C9A96A;



/* RGB/RGBA */


/* Gradients */


// Etc
$down-opacity: 30%;
$hover-opacity: 60%;
$transition-duration: 5s;
$hover-scale: 1.1;
$down-scale: 0.9;

