$sans-serif: 'Arial', sans-serif;
$font-family-cormorant: 'CormorantGaramond'; // OLD FONT
$font-family-main: 'Comfortaa';
$font-family-ebgaramond: 'CormorantGaramond'; // OLD FONT
$font-family-CormorantGaramond: 'CormorantGaramond';


//Desktop Middle
$font-size-middle: 16px;

//Desktop Small
$font-size-small: 14px;

//Tablet
$font-size-tablet: 12px;

//Mobile
$font-size-mobile: 10px;
$line-height-mobile: 140%;
